:root {
  /* Color styles */
  --primary: #4785ff;
  --secondary: #ff6b57;
  --black40: #00000045;
  --skyblue--100: #f1f8ff;
  --skyblue--300: #e1efff;
  --skyblue--400: #aecfff;
  --gray--100: #f5f5f5;
  --gray--200: #f1f1f1;
  --gray--300: #e4e4e4;
  --gray--350: #bcbcbc;
  --gray--400: #989898;
  --gray--450: #757575;
  --gray--500: #666666;
  --gray--700: #494949;
}
