@font-face {
  font-family: 'OAGothic';
  src: url('@/fonts/OAGothic-medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'OAGothic';
  src: url('@/fonts/OAGothic-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
