@font-face {
  font-family: 'OAGothic';
  src: url('./fonts/OAGothic-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'OAGothic';
  src: url('./fonts/OAGothic-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@layer components {
  .date-input {
    @apply block h-20px w-20px border-0 text-12px;
  }

  .date-input::-webkit-calendar-picker-indicator {
    display: block !important;
    height: 20px !important;
    width: 20px !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url('./assets/icons/icon_calendar.svg') !important;
    color: rgba(0, 0, 0, 0) !important;
    opacity: 1 !important;
  }

  .custom-bullet {
    @apply mx-1 inline-block size-2 rounded-full bg-[#AECFFF];
  }

  .custom-bullet-active {
    @apply bg-white;
  }

  .swiper .swiper-pagination-bullets {
    @apply absolute bottom-[15px] !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
